$black: #010000;
$white: #FFFFFF;
$slightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;
$lightGreen: #02ff00;
$blue: #0800ff;
$lightBlue: #79c0ff;
$darkGreen: #004704;
$darkYellow: #d0d000;
$fadedGreen: #87e287;

@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: $e;
  -moz-transition: $e;
  transition: $e;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  font-style: normal;
  background: $slightGrey;
}

a {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    color: $darkGrey;
    font-weight: bold;
    @include transition(.4s ease-in-out);
  }
}

.container-fluid {
  line-height: 24px;
}